# Configuración de Django
SECRET_KEY=django-insecure-cambialo
DEBUG=True
DATABASE_URL=postgres://usuario:contraseña@host:puerto/db

# Configuración adicional para producción
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True 